*.extmap
*lsp-session*
ido.last
smex-items
network-security.data
.emacs.d/auto-save-list
elpa/
.emacs.d/eshell
.emacs.d/elpa
.emacs.d/emacs_backtrace.txt
.emacs.d/emacs_backtrace.txt
.emacs.d/.cache
.emacs.d/transient
.emacs.d/url
.emacs.d/projects
.emacs.d/recentf
.emacs.d/straight
.emacs.d/var
.emacs.d/dict
.emacs.d/ac-comphist.dat
.emacs.d/.dap-breakpoints

.emacs.d/eln-cache

.emacs.d/tramp
.aider*
