*.extmap
*lsp-session*
ido.last
smex-items
network-security.data
emacs/auto-save-list
elpa/
emacs/eshell
emacs/elpa
emacs/emacs_backtrace.txt
emacs/emacs_backtrace.txt
emacs/.cache
emacs/transient
emacs/url
emacs/projects
emacs/recentf
emacs/.emacs-recentf
emacs/straight
emacs/var
emacs/dict
emacs/ac-comphist.dat
emacs/.dap-breakpoints
emacs/eln-cache
emacs/tramp
emacs/autosaves
emacs/.mc-lists.el
emacs/local.el
